<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h3>계절학기 수요입력</h3>
            <span>예비수강신청이란, 본 수강신청 대상과목을 선별하기 위해 이루어지는 과정으로 예비수강신청 인원이 10명 이상을 넘어야 본수강신청 대상 과목으로 신설됩니다</span>
        </div>
        <div>
            <h3>‘강의명’에 대해 수요입력을 하시겠습니까?</h3>
        </div>
    </div>
    <!-- 이부분부터 submit누르면 vote추가해야하는데 튜토리얼보고하는데 잘안되네요 -->

    
</body>
</html>
